.isActiveAction {
  opacity: 1 !important; }

.isOnDevice {
  background-color: #3CBA54 !important; }

.isActiveMobileNav {
  left: 0% !important; }

.isActiveNavItem {
  opacity: 1 !important; }

.nav li:hover {
  opacity: 1; }

.isActiveTVNav {
  top: 50px !important; }

.isActiveTVNavMain {
  padding-top: 130px !important; }

.isHamburgerPressedLine1 {
  top: 14px !important;
  transform: rotate(45deg) !important; }

.isHamburgerPressedLine2 {
  width: 0 !important;
  opacity: 0 !important; }

.isHamburgerPressedLine3 {
  bottom: 14px !important;
  transform: rotate(-45deg) !important; }

.testingAlarmButton {
  display: none; }

.textCenter {
  text-align: center; }

.isActiveToggleableDevices {
  display: grid !important; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #898B8D;
  font-weight: 300; }

body {
  position: relative;
  min-width: 200px; }

h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px; }

p {
  font-size: 16px;
  margin: 0; }

a {
  font-size: 16px;
  color: #4885ED;
  text-decoration: none; }

h1, p, a {
  font-weight: 300;
  line-height: 1.5em; }

ul {
  padding: 0;
  margin-bottom: 0; }

select {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat; }

button {
  color: #FFFFFF;
  background-color: #4885ED;
  border: 0;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  line-height: 50px;
  cursor: pointer;
  outline: 0;
  padding: 0; }

select, button {
  font-family: 'Poppins', sans-serif; }

form fieldset {
  border: none;
  margin: 0;
  padding: 0 0 20px 0; }
form label {
  display: block; }
form input {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: solid 2px #898B8D;
  padding: 10px; }

.smokeAlarm, .heatPump, .securityCamera {
  background-color: #F4C20D !important; }

.section {
  padding: 10px 20px; }
  .section article {
    padding-bottom: 20px; }
    .section article:last-child {
      padding-bottom: 0px; }

#signinSection h1, #signinSection p {
  text-align: center; }

#signinButtonSection p, #signinButtonSection a {
  text-align: center;
  display: block; }

.itemSeparation {
  margin-bottom: 10px; }

.wrapper {
  min-height: calc(100vh - 50px); }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #FFFFFF;
  z-index: 90;
  -webkit-box-shadow: 0px 0px 10px rgba(138, 140, 143, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(138, 140, 143, 0.5);
  box-shadow: 0px 0px 10px rgba(138, 140, 143, 0.5); }
  #header .hamburgerButton {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer; }
    #header .hamburgerButton .line1 {
      top: 8px; }
    #header .hamburgerButton .line2 {
      top: 14px; }
    #header .hamburgerButton .line3 {
      bottom: 8px; }
    #header .hamburgerButton .line1, #header .hamburgerButton .line2, #header .hamburgerButton .line3 {
      position: absolute;
      left: 0;
      right: 0;
      background-color: #898B8D;
      display: block;
      width: 20px;
      height: 2px;
      margin: 0 auto;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
  #header a {
    position: relative;
    top: 9px;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
    #header a .headerLogo {
      width: 32px;
      height: 32px;
      display: block;
      margin: 0 auto;
      position: relative; }

#tvHamburgerButton {
  display: none; }

#tvNav {
  position: fixed;
  top: -80px;
  width: 100%;
  z-index: 50;
  background-color: #FFFFFF;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  display: none;
  max-width: calc(100vw - 5%);
  left: 2.5%; }
  #tvNav ul {
    margin: 0;
    display: grid;
    grid-gap: 10px; }
    #tvNav ul li {
      display: inline-block;
      height: 60px;
      margin: 0 auto;
      max-width: 400px; }
      #tvNav ul li a {
        line-height: 60px; }

#main {
  position: relative;
  padding-top: 50px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }

.addDeviceWrapper {
  display: block !important;
  max-width: 700px !important;
  margin: 0 auto; }

.signinMain {
  display: block !important; }

.actions {
  display: grid;
  grid-column-gap: 10px;
  position: relative;
  max-width: 1000px; }
  .actions .action {
    height: 75px;
    background-color: #4885ED;
    opacity: 0.5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: inherit;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    margin-bottom: 10px; }
    .actions .action img {
      position: relative;
      left: 10px;
      width: 25px;
      height: 25px; }
    .actions .action p {
      position: absolute;
      right: 10px;
      color: #FFFFFF;
      display: inline;
      max-width: calc(100% - 50px);
      text-align: right; }
    .actions .action img, .actions .action p {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
  .actions .action:nth-child(1) {
    grid-column: 1/2; }
  .actions .action:nth-child(2) {
    grid-column: 2/3; }

.devices {
  position: relative; }
  .devices .toggleableDevices {
    display: none; }
  .devices .device {
    height: 75px;
    background-color: #DB3236;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
    .devices .device p {
      color: #FFFFFF;
      display: inline;
      left: 20px;
      max-width: calc(100% - 135px); }
    .devices .device img, .devices .device label {
      right: 20px; }
    .devices .device p, .devices .device img, .devices .device label {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }

.settings {
  width: 35px; }

.switch, .settings {
  cursor: pointer; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 75px;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */ }
  .switch input {
    display: none; }
  .switch .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
    .switch .slider:before {
      position: absolute;
      bottom: 2px;
      left: 2px;
      content: "";
      height: 26px;
      width: 26px;
      background-color: #FFFFFF;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(41px);
    -ms-transform: translateX(41px);
    transform: translateX(41px); }
  .switch .slider.round {
    border-radius: 34px;
    border: 2px solid #FFFFFF; }
  .switch .slider.round:before {
    border-radius: 50%; }

#footer p {
  margin: 0; }
#footer p, #footer a, #footer .footerSection {
  font-size: 14px;
  text-align: center; }
#footer .footerSection article {
  max-width: 500px;
  margin: 0 auto; }
#footer .footerSection article:not(:last-child) {
  padding-bottom: 10px; }
#footer .copyright {
  padding-top: 20px; }

.signinFooter {
  display: block !important; }
  .signinFooter p {
    line-height: 50px; }

#mobileNav {
  position: fixed;
  top: 50px;
  left: -100%;
  background-color: #FFFFFF;
  z-index: 50;
  width: 100%;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  height: calc(100vh - 50px);
  overflow: auto; }
  #mobileNav h1, #mobileNav p {
    text-align: center; }
  #mobileNav ul {
    list-style-type: none; }

.nav li {
  background-color: #4885ED;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 75px;
  position: relative;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 0.5;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .nav li a {
    position: absolute;
    left: 0;
    right: 0;
    color: #FFFFFF;
    text-align: center;
    line-height: 75px; }

#signinLogo {
  width: 150px;
  margin: 0 auto;
  display: block; }

.overlayOuter {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none; }
  .overlayOuter section {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }

.overlayInner {
  width: 100%;
  background-color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  max-width: 400px;
  padding: 20px;
  max-height: calc(100vh - 20px);
  overflow: auto; }

.closeButton {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer; }
  .closeButton .line1 {
    transform: rotate(45deg);
    top: 15px; }
  .closeButton .line2 {
    transform: rotate(-45deg);
    bottom: 15px; }
  .closeButton .line1, .closeButton .line2 {
    background-color: #4885ED;
    width: 20px;
    height: 2px;
    display: block;
    position: absolute; }

.heaterOnOff {
  display: grid; }
  .heaterOnOff p {
    grid-column: 1/2;
    line-height: 75px; }
  .heaterOnOff .heaterSwitch {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #DB3236;
    height: 75px;
    grid-column: 2/3;
    position: relative;
    min-width: 5px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
    .heaterOnOff .heaterSwitch .switch {
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      position: absolute; }

.slideContainer {
  width: 100%; }
  .slideContainer .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #898B8D;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    margin: 10px 0; }
    .slideContainer .slider:hover {
      opacity: 1; }
    .slideContainer .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4885ED;
      cursor: pointer; }
    .slideContainer .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4885ED;
      cursor: pointer; }

.heatCoolSelect {
  margin-top: 10px; }

.smokeAlarmStatus {
  display: grid; }
  .smokeAlarmStatus div p {
    text-align: center; }
  .smokeAlarmStatus div:nth-child(1) {
    grid-column: 1/2; }
  .smokeAlarmStatus div:nth-child(2) {
    grid-column: 2/3; }
    .smokeAlarmStatus div:nth-child(2) p {
      color: #3CBA54; }

#securityCameraOverlay .securityCameraBlock p {
  padding-bottom: 10px; }
#securityCameraOverlay img {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

#mask {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4); }

@media screen and (min-width: 500px) {
  h1 {
    font-size: 36px; }

  .signinMaxWidth {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto; }

  #mobileNav {
    max-width: 500px;
    left: -500px; }
    #mobileNav ul li {
      max-width: 400px; } }
@media screen and (min-width: 700px) {
  .actions .action {
    max-height: 225px;
    height: 225px;
    padding: 20px; }
    .actions .action img {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 0;
      width: 100px;
      height: 100px;
      display: block; }
    .actions .action p {
      top: initial;
      right: 0;
      transform: none;
      position: relative;
      display: block;
      text-align: center;
      max-width: initial;
      line-height: 100px;
      font-size: 16px; }

  .allActions {
    grid-column: 1/3; }
    .allActions .actions {
      margin: 0 auto !important; }

  .devices, .toggleableDevices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px; }
    .devices button, .toggleableDevices button {
      grid-column: 1/3; }
    .devices .toggleableDevices, .toggleableDevices .toggleableDevices {
      grid-column: 1/3; } }
@media screen and (min-width: 1000px) {
  .wrapper {
    min-height: calc(100vh - 62px); }

  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px; }
    #footer .copyright {
      padding-top: 0; }

  .footerSection p {
    line-height: 42px; } }
@media screen and (min-width: 1280px) {
  #hamburgerButton, #mobileNav {
    display: none; }

  #tvHamburgerButton {
    display: block; }

  #tvNav {
    display: grid; }
    #tvNav ul {
      grid-template-columns: repeat(5, 1fr); } }
@media screen and (min-width: 1366px) {
  #main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: calc(100vw - 5%);
    margin: 0 auto; }
    #main .section:first-child {
      grid-column: 1/3; }
    #main .boxShadow {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      padding: 20px;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
      #main .boxShadow:hover {
        -webkit-box-shadow: 0px 0px 10px rgba(138, 140, 143, 0.5);
        -moz-box-shadow: 0px 0px 10px rgba(138, 140, 143, 0.5);
        box-shadow: 0px 0px 10px rgba(138, 140, 143, 0.5); } }

/*# sourceMappingURL=style.css.map */
