.isActiveScene {
  opacity: 1 !important; }

.isOnDevice {
  background-color: #3CBA54 !important; }

.isOnSwitch {
  transform: translateY(-50%) rotate(180deg) !important; }

.isActiveMobileNav {
  left: 0% !important; }

.isHamburgerPressedLine1 {
  top: 14px !important;
  transform: rotate(45deg) !important; }

.isHamburgerPressedLine2 {
  width: 0 !important;
  opacity: 0 !important; }

.isHamburgerPressedLine3 {
  bottom: 14px !important;
  transform: rotate(-45deg) !important; }

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #898B8D;
  font-weight: 300; }

body {
  position: relative;
  min-height: 100vh;
  min-width: 200px; }

h1, p, a {
  font-weight: 300;
  line-height: 1.5em; }

h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px; }

p {
  font-size: 16px;
  margin: 0; }

a {
  font-size: 16px;
  color: #4885ED;
  text-decoration: none; }

ul {
  padding: 0;
  margin-bottom: 0; }

button {
  color: #FFFFFF;
  background-color: #4885ED;
  border: 0;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  line-height: 50px;
  cursor: pointer;
  outline: 0;
  padding: 0; }

form fieldset {
  border: none;
  margin: 0;
  padding: 0 0 20px 0; }
form label {
  display: block; }
form input {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: solid 2px #898B8D;
  padding: 10px; }

#signinLogo {
  width: 150px;
  margin: 0 auto;
  display: block; }

#headerLogo {
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 9px; }

.section {
  padding: 10px 20px; }
  .section article {
    padding-bottom: 20px; }
    .section article:last-child {
      padding-bottom: 0px; }

#signinSection h1, #signinSection p {
  text-align: center; }

#signinButtonSection p, #signinButtonSection a {
  text-align: center;
  display: block; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #FFFFFF;
  z-index: 90; }

#main {
  position: relative;
  top: 50px;
  left: 0;
  right: 0;
  min-height: calc(100vh - 100px); }

#footer {
  height: 50px;
  max-height: 50px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  #footer p {
    text-align: center;
    font-size: 14px;
    margin: 0;
    line-height: 50px; }

.itemSeparation {
  margin-bottom: 10px; }

.overlayOuter {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none; }

.overlayInner {
  width: 100%;
  background-color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto; }

.closeButton {
  width: 32px;
  height: 32px;
  position: relative; }
  .closeButton .line1 {
    transform: rotate(45deg);
    top: 15px; }
  .closeButton .line2 {
    transform: rotate(-45deg);
    bottom: 15px; }
  .closeButton .line1, .closeButton .line2 {
    background-color: #4885ED;
    width: 20px;
    height: 2px;
    display: block;
    position: absolute; }

.hamburgerButton {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer; }
  .hamburgerButton .line1 {
    top: 8px; }
  .hamburgerButton .line2 {
    top: 14px; }
  .hamburgerButton .line3 {
    bottom: 8px; }
  .hamburgerButton .line1, .hamburgerButton .line2, .hamburgerButton .line3 {
    background-color: #898B8D;
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: 300ms; }

#mobileNav {
  position: fixed;
  top: 50px;
  left: -100%;
  background-color: #FFFFFF;
  z-index: 50;
  width: 100%;
  transition: 300ms;
  height: calc(100vh - 50px); }
  #mobileNav h1, #mobileNav p {
    text-align: center; }
  #mobileNav ul {
    list-style-type: none;
    display: grid;
    grid-column-gap: 10px; }
    #mobileNav ul li {
      background-color: #4885ED;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
      height: 75px;
      position: relative; }
      #mobileNav ul li a {
        color: #FFFFFF;
        text-align: center;
        position: absolute;
        line-height: 75px;
        left: 0;
        right: 0; }
    #mobileNav ul li:nth-child(1) {
      grid-column: 1/2; }
    #mobileNav ul li:nth-child(2) {
      grid-column: 2/3; }

.scenes {
  display: grid;
  grid-column-gap: 10px;
  position: relative; }
  .scenes .scene {
    height: 75px;
    background-color: #4885ED;
    opacity: 0.5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 300ms; }
    .scenes .scene img {
      width: 25px;
      height: 25px;
      position: relative;
      left: 10px; }
    .scenes .scene p {
      color: #FFFFFF;
      display: inline;
      position: absolute;
      right: 10px; }
    .scenes .scene img, .scenes .scene p {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
  .scenes .scene:nth-child(1) {
    grid-column: 1/2; }
  .scenes .scene:nth-child(2) {
    grid-column: 2/3; }

.devices {
  position: relative; }
  .devices .device {
    height: 75px;
    background-color: #DB3236;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative; }
    .devices .device p {
      color: #FFFFFF;
      display: inline;
      left: 20px;
      max-width: calc(100% - 135px); }
    .devices .device img {
      right: 20px; }
    .devices .device .switch {
      width: 75px; }
    .devices .device .settings {
      width: 35px; }
    .devices .device p, .devices .device img {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }

@media screen and (min-width: 500px) {
  h1 {
    font-size: 36px; }

  .signinMaxWidth {
    width: 100%;
    max-width: 400px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }

  .overlayInner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); } }
@media screen and (min-height: 650px) {
  #mobileNav ul {
    display: block; } }

/*# sourceMappingURL=style.css.map */
