////////////////
//// Mixins ////
////////////////

// Browser compatability for box-sizing
@mixin boxSizing {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

// Browser compatability for border-radius
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
         -o-border-radius: $radius;
            border-radius: $radius;
}

// Vertically center any element. Requires a set position
@mixin verticalCenter {
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

// Horizontally center any element. Requires a set position
@mixin horizontalCenter {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

// Vertically & horizontally center any element. Requires a set position
@mixin absoluteCenter {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

// Browser compatability for transition speed
@mixin transitionSpeed {
    -webkit-transition: $transitionSpeed;
       -moz-transition: $transitionSpeed;
        -ms-transition: $transitionSpeed;
         -o-transition: $transitionSpeed;
            transition: $transitionSpeed;
}