///////////////////
//// Variables ////
///////////////////

// Borders
$borderRadius: 5px;

// Colors
$blueColor: #4885ED;
$redColor: #DB3236;
$greenColor: #3CBA54;
$yellowColor: #F4C20D;
$greyColor: #898B8D;
$greyColorAlpha: rgba(138, 140, 143, 0.5);
$darkGreyColor: #4A4A4A;
$whiteColor: #FFFFFF;
$overlayColor: rgba(0, 0, 0, 0.4);

// Transition Speed
$transitionSpeed: 300ms;