// BASE LAYOUT STYLES

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: $greyColor;
    font-weight: 300;
}

body {
    position: relative;
    min-height: 100vh;
}

h1, p, a {
    font-weight: 300;
    line-height: 1.5em;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
    margin-top: 0;
}

a {
    font-size: 16px;
    color: $blueColor;
    text-decoration: none;
}

form {
    fieldset {
        border: none;
        margin: 0;
        padding: 0 0 20px 0;
    }

    label {
        display: block;
    }

    input {
        width: 100%;
        @include borderRadius($borderRadius);
        border: solid 2px $greyColor;
        padding: 10px;
    }
}