// BASE LAYOUT STYLES

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: $greyColor;
    font-weight: 300;
}

body {
    position: relative;
    min-height: 100vh;
    min-width: 200px;
}

h1, p, a {
    font-weight: 300;
    line-height: 1.5em;
}

h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin: 0;
}

a {
    font-size: 16px;
    color: $blueColor;
    text-decoration: none;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

select, button {
    font-family: 'Poppins', sans-serif;
}

select {
    width: 100%;
    @include borderRadius($borderRadius);
    border: solid 1px black; // Change
}

button {
    color: $whiteColor;
    background-color: $blueColor;
    border: 0;
    width: 100%;
    @include borderRadius($borderRadius);
    line-height: 50px;
    cursor: pointer;
    outline: 0;
    padding: 0;
}

form {
    fieldset {
        border: none;
        margin: 0;
        padding: 0 0 20px 0;
    }

    label {
        display: block;
    }

    input {
        width: 100%;
        @include borderRadius($borderRadius);
        border: solid 2px $greyColor;
        padding: 10px;
    }
}

#signinLogo {
    width: 150px;
    margin: 0 auto;
    display: block;
}

#headerLogo {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 9px;
}