.section {
    padding: 10px 20px;

    article {
        padding-bottom: 20px;
    }

    article:last-child {
        padding-bottom: 0px;
    }
}

#signinSection {
    h1, p {
        text-align: center;
    }
}

#signinButtonSection {
    p, a {
        text-align: center;
        display: block;
    }
}