.section {
    padding: 20px;
    padding-bottom: 20px;
}

#signinSection {
    h1, p {
        text-align: center;
    }
}

#signinButtonSection {
    p, a {
        text-align: center;
        display: block;
    }
}