///////////////////////
//// Media Queries ////
///////////////////////

// For Viewports bigger than 499px
@media screen and (min-width: 500px) {
    h1 {
        font-size: 36px;
    }

    .signinMaxWidth {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }

    #mobileNav {
        max-width: 500px;
        left: -500px;

        ul li {
            max-width: 400px;
        }
    }
}

// For Viewports bigger than 699px
@media screen and (min-width: 700px) {
    .devices, .toggleableDevices {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;

        button {
            grid-column: 1/3;
        }

        .toggleableDevices {
            grid-column: 1/3;
        }
    }
}

// For Viewports bigger than 1279px
@media screen and (min-width: 1280px) {
    #hamburgerButton, #mobileNav {
        display: none;
    }

    #tvHamburgerButton {
        display: block;
    }

    #tvNav {
        display: grid;
    }
}

@media screen and (min-width: 1366px) {
    #main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;

        .section:nth-child(1) {
            grid-column: 1/3;
        }

        .section:not(:nth-child(1)) {
            padding: 20px;
        }
    }
}