///////////////////////
//// Media Queries ////
///////////////////////

// For Viewports bigger than 499px
@media screen and (min-width: 500px) {
    h1 {
        font-size: 36px;
    }

    .signinMaxWidth {
        width: 100%;
        max-width: 400px;
        display: block;
    }

    .signinMaxWidth {
        margin: 0 auto;
    }

    .devices {
        display: grid;

        .device {
            grid-column: inherit;
        }
    }

    #mobileNav {
        max-width: 500px;
        left: -500px;

        ul li {
            max-width: 400px;
        }
    }
}

// For Viewports bigger than 799px
@media screen and (min-width: 800px) {
    
}

// For Viewports bigger than 1279px
@media screen and (min-width: 1280px) {
    #hamburgerButton {
        display: none;
    }

    #tvHamburgerButton {
        display: block;
    }
    
    #mobileNav {
        display: none;
    }
}