// MEDIA QUERIES

// For Viewports bigger than 499px
@media screen and (min-width: 500px) {
    h1 {
        font-size: 36px;
    }

    .signinMaxWidth {
        width: 100%;
        max-width: 400px;
        display: block;
        position: absolute;
        @include absoluteCenter;
    }

    .overlayInner {
        position: absolute;
        @include absoluteCenter;
    }
}

// For Viewports bigger than 799px
@media screen and (min-width: 800px) {
    
}