// MEDIA QUERIES

// For Viewports bigger than 499px
@media screen and (min-width: 500px) {
    h1 {
        font-size: 36px;
    }

    .signinMaxWidth {
        width: 100%;
        max-width: 400px;
        display: block;
    }

    .signinMaxWidth { // add .overlayInner
        @include absoluteCenter;
        position: absolute;
    }
}

// For Viewports bigger than 799px
@media screen and (min-width: 800px) {
    
}

// For Navigation 
@media screen and (min-height: 650px) {
    #mobileNav {
        ul {
            display: block;
        }
    }
}