///////////////
//// State ////
///////////////

.isActiveAction {
    opacity: 1!important;
}

.isOnDevice {
    background-color: $greenColor!important;
}

.isActiveMobileNav {
    left: 0%!important;
}

.isActiveNavItem {
    opacity: 1!important;
}

.nav li:hover {
    opacity: 1;
}

.isActiveTVNav {
    top: -80px!important;
}

.isActiveTVNavMain {
    padding-top: 130px!important;
}

.isHamburgerPressedLine1 {
    top: 14px!important;
    transform: rotate(45deg)!important;
}

.isHamburgerPressedLine2 {
    width: 0!important;
    opacity: 0!important;
}

.isHamburgerPressedLine3 {
    bottom: 14px!important;
    transform: rotate(-45deg)!important;
}

.testingAlarmButton {
    display: none;
}

.textCenter {
    text-align: center;
}

.isActiveToggleableDevices {
    display: grid!important;
}