// State

.isActiveScene {
    opacity: 1!important;
}

.isOnDevice {
    background-color: $greenColor!important;
}

.isOnSwitch {
    transform: translateY(-50%) rotate(180deg)!important;
}

.isActiveMobileNav {
    left: 0%!important;
}

.isHamburgerPressedLine1 {
    top: 14px!important;
    transform: rotate(45deg)!important;
}

.isHamburgerPressedLine2 {
    width: 0!important;
    opacity: 0!important;
}

.isHamburgerPressedLine3 {
    bottom: 14px!important;
    transform: rotate(-45deg)!important;
}