/////////////////
//// Modules ////
/////////////////

.wrapper {
    min-height: calc(100vh - 50px);
}

///////////////////////
//// #header Start ////
///////////////////////

#header {
    @include positioning(fixed, $t: 0, $l: 0, $r: 0);
    height: 50px;
    background-color: $whiteColor;
    z-index: 90;
    @include boxShadow($blur: 10px, $color: $greyColorAlpha);

    .hamburgerButton {
        position: absolute;
        width: 30px;
        height: 30px;
        margin: 10px;
        cursor: pointer;
    
        .line1 {
            top: 8px;
        }
    
        .line2 {
            top: 14px;
        }
    
        .line3 {
            bottom: 8px;
        }
    
        .line1, .line2, .line3 {
            @include positioning(absolute, $l: 0, $r: 0);
            background-color: $greyColor;
            display: block;
            width: 20px;
            height: 2px;
            margin: 0 auto;
            @include transitionSpeed;
        }
    }

    a {
        @include positioning($t: 9px);
        display: inline-block;
        @include horizontalCenter;

        .headerLogo {
            width: 32px;
            height: 32px;
            display: block;
            margin: 0 auto;
            position: relative;
        }
    }
}

#tvHamburgerButton {
    display: none;
}

//////////////////////
//// #tvNav Start ////
//////////////////////

#tvNav {
    @include positioning(fixed, $t: -80px);
    width: 100%;
    z-index: 50;
    background-color: $whiteColor;
    @include transitionSpeed;
    display: none;

    ul {
        margin: 0;
        display: grid;
        grid-gap: 10px;

        li {
            display: inline-block;
            height: 60px;
            margin: 0 auto;
            max-width: 400px;

            a {
                line-height: 60px;
            }
        }

        li:nth-child(1) {
            grid-column: 1/2;
        }

        li:nth-child(2) {
            grid-column: 2/3;
        }

        li:nth-child(3) {
            grid-column: 3/4;
        }

        li:nth-child(4) {
            grid-column: 4/5;
        }

        li:nth-child(5) {
            grid-column: 5/6;
        }
    }
}

/////////////////////
//// #main Start ////
/////////////////////

#main {
    position: relative;
    padding-top: 50px;
    @include transitionSpeed;
}

.signinMain {
    display: block!important;
}

////////////////////////
//// .actions Start ////
////////////////////////

.actions {
    display: grid;
    grid-column-gap: 10px;
    position: relative;
    max-width: 1000px;

    .action {
        height: 75px;
        background-color: $blueColor;
        opacity: 0.5;
        @include borderRadius($borderRadius);
        cursor: pointer;
        position: inherit;
        @include transitionSpeed;
        margin-bottom: 10px;

        img {
            @include positioning($l: 10px);
            width: 25px;
            height: 25px;
        }

        p {
            @include positioning(absolute, $r: 10px);
            color: $whiteColor;
            display: inline;
            max-width: calc(100% - 50px);
            text-align: right;
        }

        img, p {
            @include verticalCenter;
        }
    }

    .action:nth-child(1) {
        grid-column: 1/2;
    }

    .action:nth-child(2) {
        grid-column: 2/3;
    }
}

////////////////////////
//// .devices Start ////
////////////////////////

.devices {
    position: relative;

    .toggleableDevices {
        display: none;
    }

    .device {
        height: 75px;
        background-color: $redColor;
        @include borderRadius($borderRadius);
        margin-bottom: 10px;
        position: relative;
        @include transitionSpeed;

        p {
            color: $whiteColor;
            display: inline;
            left: 20px;
            max-width: calc(100% - 135px); // Ensures the text doesn't overlap the switch
        }

        img, label {
            right: 20px;
        }

        p, img, label {
            position: absolute;
            @include verticalCenter;
        }
    }
}

.settings {
    width: 35px;
}

.switch, .settings {
    cursor: pointer;
}

/////////////////////
//// Switch Code ////
/////////////////////

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 75px;

    /* Hide default HTML checkbox */
    input {
        display: none
    }

    /* The slider */
    .slider {
        @include positioning(absolute, 0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0.0);
        @include transitionSpeed;

        &:before {
            @include positioning(absolute, $l: 2px, $b: 2px);
            content: "";
            height: 26px;
            width: 26px;
            background-color: $whiteColor;
            @include transitionSpeed;
        }
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(41px);
        -ms-transform: translateX(41px);
        transform: translateX(41px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
        border: 2px solid $whiteColor;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}

///////////////////////
//// #footer Start ////
///////////////////////

#footer {
    p {
        margin: 0;
    }

    p, a, .footerSection {
        font-size: 14px;
        text-align: center;
    }

    .footerSection {
        article {
            max-width: 500px;
            margin: 0 auto;
        }

        article:not(:last-child) {
            padding-bottom: 10px;
        }
    }

    .copyright {
        padding-top: 20px;
    }
}

.signinFooter {
    display: block!important;

    p {
        line-height: 50px;
    }
}

//////////////////////////
//// #mobileNav Start ////
//////////////////////////

#mobileNav {
    @include positioning(fixed, $t: 50px, $l: -100%);
    background-color: $whiteColor;
    z-index: 50;
    width: 100%;
    @include transitionSpeed;
    height: calc(100vh - 50px);
    overflow: auto;

    h1, p {
        text-align: center;
    }
    
    ul {
        list-style-type: none;
    }
}

.nav li {
    background-color: $blueColor;
    @include borderRadius($borderRadius);
    margin-bottom: 10px;
    height: 75px;
    position: relative;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    a {
        @include positioning(absolute, $l: 0, $r: 0);
        color: $whiteColor;
        text-align: center;
        line-height: 75px;
    }
}

#signinLogo {
    width: 150px;
    margin: 0 auto;
    display: block;
}

////////////////////////
//// .overlay Start ////
////////////////////////

.overlayOuter {
    background-color: $overlayColor;
    @include positioning(fixed, 0, 0, 0, 0);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;

    section {
        position: relative;
        @include absoluteCenter;
    }
}

.overlayInner {
    width: 100%;
    background-color: $whiteColor;
    @include borderRadius($borderRadius);
    max-width: 400px;
    padding: 20px;
    max-height: calc(100vh - 20px);
    overflow: auto;
}

.closeButton {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;

    .line1 {
        transform: rotate(45deg);
        top: 15px;
    }

    .line2 {
        transform: rotate(-45deg);
        bottom: 15px;
    }

    .line1, .line2 {
        background-color: $blueColor;
        width: 20px;
        height: 2px;
        display: block;
        position: absolute;
    }
}

//////////////////////////////
//// #heaterOverlay Start ////
//////////////////////////////

.heaterOnOff {
    display: grid;

    p {
        grid-column: 1/2;
        line-height: 75px;
    }

    .heaterSwitch {
        @include borderRadius($borderRadius);
        background-color: $redColor;
        height: 75px;
        grid-column: 2/3;
        position: relative;
        min-width: 5px;
        @include transitionSpeed;

        .switch {
            @include absoluteCenter;
            position: absolute;
        }
    }
}

.slideContainer {
    width: 100%;

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: $borderRadius;
        background: $greyColor;
        outline: none;
        opacity: 0.7;
        @include transitionSpeed;
        margin: 10px 0;

        &:hover {
            opacity: 1;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $blueColor;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $blueColor;
            cursor: pointer;
        }
    }
}

.heatCoolSelect {
    margin-top: 10px;
}

//////////////////////////////////
//// #smokeAlarmOverlay Start ////
//////////////////////////////////

.smokeAlarmStatus {
    display: grid;

    div p {
        text-align: center;
    }

    div:nth-child(1) {
        grid-column: 1/2;
    }

    div:nth-child(2) {
        grid-column: 2/3;

        p {
            color: $greenColor;
        }
    }
}

//////////////////////////////////////
//// #securityCameraOverlay Start ////
//////////////////////////////////////

#securityCameraOverlay {
    .securityCameraBlock {
        p {
            padding-bottom: 10px;
        }
    }

    img {
        width: 100%;
        @include borderRadius($borderRadius);
    }
}

/////////////////////
//// #mask Start ////
/////////////////////

#mask {
    display: none;
    @include positioning(fixed, 0, 0, 0, 0);
    background-color: $overlayColor;
}