/////////////////
//// Modules ////
/////////////////

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: $whiteColor;
    z-index: 90;

    a {
        display: inline-block;
        position: relative;
        @include horizontalCenter;
        top: 9px;

        .headerLogo {
            width: 32px;
            height: 32px;
            display: block;
            margin: 0 auto;
            position: relative;
        }
    }
}

.wrapper {
    min-height: calc(100vh - 50px);
}

#main {
    position: relative;
    padding-top: 50px;
}

#footer {
    height: 50px;
    max-height: 50px;
    background-color: $whiteColor;

    p {
        text-align: center;
        font-size: 14px;
        margin: 0;
        line-height: 50px;
    }
}

.itemSeparation {
    margin-bottom: 10px;
}

.overlayOuter {
    background-color: $overlayColor;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;

    section {
        position: relative;
        @include absoluteCenter;
    }
}

.overlayInner {
    width: 100%;
    background-color: $whiteColor;
    @include borderRadius($borderRadius);
    max-width: 400px;
    padding: 20px;
    max-height: calc(100vh - 20px);
    overflow: auto;
}

.closeButton {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;

    .line1 {
        transform: rotate(45deg);
        top: 15px;
    }

    .line2 {
        transform: rotate(-45deg);
        bottom: 15px;
    }

    .line1, .line2 {
        background-color: $blueColor;
        width: 20px;
        height: 2px;
        display: block;
        position: absolute;
    }
}

.hamburgerButton {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;

    .line1 {
        top: 8px;
    }

    .line2 {
        top: 14px;
    }

    .line3 {
        bottom: 8px;
    }

    .line1, .line2, .line3 {
        background-color: $greyColor;
        display: block;
        position: absolute;
        width: 20px;
        height: 2px;
        margin: 0 auto;
        left: 0;
        right: 0;
        @include transitionSpeed;
    }
}

#mobileNav {
    position: fixed;
    top: 50px;
    left: -100%;
    background-color: $whiteColor;
    z-index: 50;
    width: 100%;
    @include transitionSpeed;
    height: calc(100vh - 50px);
    overflow: auto;

    h1, p {
        text-align: center;
    }
    
    ul {
        list-style-type: none;
        grid-column-gap: 10px;

        li {
            background-color: $blueColor;
            @include borderRadius($borderRadius);
            margin-bottom: 10px;
            height: 75px;
            position: relative;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;

            a {
                color: $whiteColor;
                text-align: center;
                position: absolute;
                line-height: 75px;
                left: 0;
                right: 0;
            }
        }
    }
}

.scenes {
    display: grid;
    grid-column-gap: 10px;
    position: relative;

    .scene {
        height: 75px;
        background-color: $blueColor;
        opacity: 0.5;
        @include borderRadius($borderRadius);
        cursor: pointer;
        position: relative;
        @include transitionSpeed;
        margin-bottom: 10px;

        img {
            width: 25px;
            height: 25px;
            position: relative;
            left: 10px;
        }

        p {
            color: $whiteColor;
            display: inline;
            position: absolute;
            right: 10px;
            max-width: calc(100% - 50px);
            text-align: right;
        }

        img, p {
            @include verticalCenter;
        }
    }

    .scene:nth-child(1) {
        grid-column: 1/2;
    }

    .scene:nth-child(2) {
        grid-column: 2/3;
    }
}

.devices {
    position: relative;

    .toggleableDevices {
        display: none;
    }

    .device {
        height: 75px;
        background-color: $redColor;
        @include borderRadius($borderRadius);
        margin-bottom: 10px;
        position: relative;
        @include transitionSpeed;

        p {
            color: $whiteColor;
            display: inline;
            left: 20px;
            max-width: calc(100% - 135px); // Ensures the text doesn't overlap the switch
        }

        img, label {
            right: 20px;
        }

        p, img, label {
            position: absolute;
            @include verticalCenter;
        }
    }
}

.settings {
    width: 35px;
}

.switch, .settings {
    cursor: pointer;
}

.heaterOnOff {
    display: grid;

    p {
        grid-column: 1/2;
        line-height: 75px;
    }

    .heaterSwitch {
        @include borderRadius($borderRadius);
        background-color: $redColor;
        height: 75px;
        grid-column: 2/3;
        position: relative;
        min-width: 5px;

        .switch {
            @include absoluteCenter;
            position: absolute;
        }
    }
}

.slideContainer {
    width: 100%;

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: $borderRadius;
        background: $greyColor;
        outline: none;
        opacity: 0.7;
        @include transitionSpeed;
        margin: 10px 0;

        &:hover {
            opacity: 1;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $blueColor;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $blueColor;
            cursor: pointer;
        }
    }
}

.heatCoolSelect {
    margin-top: 10px;
}

.smokeAlarm, .heatPump {
    background-color: $yellowColor!important;
}

.smokeAlarmStatus {
    display: grid;

    div p {
        text-align: center;
    }

    div:nth-child(1) {
        grid-column: 1/2;
    }

    div:nth-child(2) {
        grid-column: 2/3;

        p {
            color: $greenColor;
        }
    }
}

/////////////////////
//// Switch Code ////
/////////////////////

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 75px;

    /* Hide default HTML checkbox */
    input {
        display: none
    }

    /* The slider */
    .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.0);
        @include transitionSpeed;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 2px;
            bottom: 2px;
            background-color: $whiteColor;
            @include transitionSpeed;
        }
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(41px);
        -ms-transform: translateX(41px);
        transform: translateX(41px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
        border: 2px solid $whiteColor;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}