// Modules

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: $whiteColor;
}

#main {
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    min-height: calc(100vh - 100px); // Meant for sticky footer and Nav
}

#footer {
    height: 50px;
    max-height: 50px;
    background-color: $whiteColor;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    p {
        text-align: center;
        font-size: 14px;
        margin: 0;
        line-height: 50px;
    }
}

button {
    color: $whiteColor;
    background-color: $blueColor;
    border: 0;
    width: 100%;
    @include borderRadius($borderRadius);
    line-height: 50px;
    cursor: pointer;
    outline: 0;
    padding: 0;
}

.itemSeparation {
    margin-bottom: 10px;
}

.overlayOuter {
    background-color: $overlayColor;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

.overlayInner {
    width: 100%;
    background-color: $whiteColor;
    @include borderRadius($borderRadius);
    max-width: 500px;
    margin: 0 auto;
}

.closeButton {
    width: 32px;
    height: 32px;
    position: relative;

    .line1 {
        transform: rotate(45deg);
        top: 15px;
    }

    .line2 {
        transform: rotate(-45deg);
        bottom: 15px;
    }

    .line1, .line2 {
        background-color: $blueColor;
        width: 20px;
        height: 2px;
        display: block;
        position: absolute;
    }
}

.hamburgerButton {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 10px;

    .line1 {
        top: 8px;
    }

    .line2 {
        top: 14px;
    }

    .line3 {
        bottom: 8px;
    }

    .line1, .line2, .line3 {
        background-color: $greyColor;
        display: block;
        position: absolute;
        width: 20px;
        height: 2px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}